.header {
  height: var(--header-height);
}

.wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  padding: var(--padding-small) var(--padding);
  margin: auto;
}

.image {
  height: 100%;
  position: relative;
  top: -5px;
  //left: -5px;
}

.extra {
  margin-right: -12px;
  margin-left: auto;
  display: flex;
}

.shareIcon {
  position: relative;
  bottom: 1px;
}

.icon.icon {
  color: var(--primary-color);
}

@media (min-width: 768px) {
  .image {
    left: 0;
  }
}
