.header {
  height: var(--header-height);
}

.wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  padding: var(--padding-small) var(--padding);
  margin: auto;
}

.image {
  height: 100%;
  position: relative;
  top: -5px;
  //left: -5px;
}

.buttons {
  margin-right: -12px;
  margin-left: auto;
  display: flex;

  :global(.ant-btn):not(:disabled) {
    color: var(--primary-color);
  }

  :global(.ant-btn.ant-btn-lg .anticon) {
    font-size: 24px;
  }
}

.shareIcon {
  position: relative;
  bottom: 1px;
}

.icon.icon {
  color: var(--primary-color);
}

@media (min-width: 768px) {
  .image {
    left: 0;
  }
}
