.wrapper {
  position: relative;
  display: grid;
  align-content: stretch;
  grid-gap: var(--padding-small);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  overflow-y: scroll;
  overscroll-behavior-y: none;
  --content-height: calc(100dvh - var(--header-height));
  height: var(--content-height);
  grid-template-rows:
    calc(var(--content-height) - var(--padding-small) - var(--padding))
    auto;
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}

.disableSelection * {
  user-select: none;
}

.imageBack {
  position: sticky;
  top: 0;
  padding-bottom: 0;
  height: 100%;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
}

.interactionsBlock {
  min-width: 285px;
  display: flex;
  gap: 24px;
  flex-direction: column;
  position: sticky;
  top: 0;
  padding: 24px;
  background: var(--background-secondary-color);
  pointer-events: all;
  border-radius: var(--border-radius) var(--border-radius) 0 0;

  &::before {
    content: '';
    position: absolute;
    width: 36px;
    height: 4px;
    border-radius: 2px;
    background: var(--chakra-colors-whiteAlpha-300);
    margin: auto;
    left: 0;
    right: 0;
    top: calc(var(--padding) / 2 - 2px);
  }
}

@media (min-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr auto;
    grid-template-rows: unset;
    grid-gap: var(--padding);
    align-content: stretch;
    padding: 0 var(--padding);
    padding-bottom: 24px;
  }

  .imageBack {
  }

  .interactionsWrapper {
    position: static;
    height: auto;
  }

  .imageGap {
    display: none;
  }

  .interactionsBlock {
    border-radius: 8px;

    &::before {
      content: none;
    }
  }
}
