.wrapper {
  position: relative;
  display: grid;
  align-content: start;
  grid-gap: var(--padding-small);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  overflow-y: scroll;
  overscroll-behavior-y: none;
  height: calc(100dvh - var(--header-height));
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}

.imageBack {
  position: sticky;
  top: 0;
  height: 0;
  padding-bottom: 100%;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
}

.interactionsBlock {
  display: flex;
  gap: 24px;
  flex-direction: column;
  position: sticky;
  top: 0;
  padding: 24px;
  background: var(--background-secondary-color);
  pointer-events: all;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  height: fit-content;
}

@media (min-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr auto;
    width: 768px;
    height: auto;
    margin: auto;
    grid-gap: var(--padding);
    padding: 0 var(--padding);
    align-items: center;
  }

  .imageBackWrapper {
    padding: 0;
  }

  .interactionsWrapper {
    position: static;
    height: auto;
  }

  .imageGap {
    display: none;
  }

  .interactionsBlock {
    border-radius: 8px;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    width: 1024px;
  }
}
