.wrapper {
  padding: 16px;
  display: grid;
  align-content: start;
  grid-gap: 8px;
}

.imageBack {
  height: 0;
  padding-bottom: 100%;
  position: relative;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
}

.imageContainer {
  padding: 16px;
  display: flex;
}

.interactionsBlock {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

@media (min-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr auto;
    max-width: 768px;
    margin: auto;
    grid-gap: 24px;
    padding: 24px;
    height: 100dvh;
    align-content: center;
  }

  .interactionsBlock {
    width: 200px;
  }
}
