.menu.menu.menu {
  border-inline-end: unset;
  width: 100%;
}

.title.title {
  margin: 0 0 16px;
}

.title.title:not(:first-child) {
  margin-top: 24px;
}

.option {
  display: flex;
  gap: 12px;
}
