.menu.menu.menu {
  border-inline-end: unset;

  :global(.ant-menu-item) {
    margin-left: 0;
    margin-right: 0;
  }
}

.title.title {
  margin: 8px 0;
}

@media (min-width: 768px) {
  .title.title {
    margin-top: 0;
  }
}
