.wrapper {
  display: grid;
  grid-gap: 12px;
  align-content: start;
  margin-top: auto;
}

@media (min-width: 768px) {
  .wrapper {
    grid-gap: 12px;
    grid-template-columns: 1fr 1fr;
  }

  .cancel {
    order: -1;
  }
}
