* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #7c50f3;
}

:root {
  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-primary-color: #1f1f1f;
    --background-secondary-color: #000000;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: rgb(20, 20, 20);
  }
}
