.wrapper {
  display: grid;
  height: 100%;
  border-radius: 6px;
  overflow: hidden;
}

.input {
  display: none;
}

.spinnerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
