.wrapper {
  display: grid;
  height: 100%;
  border-radius: 6px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.05);
}

.input {
  display: none;
}

.button.button {
  height: 100%;
}

.spinnerContainer.spinnerContainer :global(.ant-spin) {
  max-height: 504px;
}
