.title.title {
  margin: 0 0 12px;
}

.select {
  display: block;
}

.segment {
  flex-grow: 1;
}

.modelOption {
  display: flex;
  justify-content: space-between;
}

.modelName.modelName {
  margin: 0;
}

.modelSize {
  margin: 0;
}

.scrollWrapper {
  width: 100%;
  overflow-y: auto;
}

@media (min-width: 768px) {
  .additionalLabel {
    display: none;
  }
}
