.title.title {
  margin: 0 0 16px;
}

.select {
  display: block;
}

.modelOption {
  display: flex;
  justify-content: space-between;
}

.modelName.modelName {
  margin: 0;
}

.modelSize {
  margin: 0;
}

@media (min-width: 768px) {
  .additionalLabel {
    display: none;
  }
}
